doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enebo - Inicio
  link(rel='icon' href='http://localhost:3000/img/images_pagina/logo-JP-icon.png')
  link(rel='stylesheet' href='/css/styles.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
.content
  header#header.header
    .header__menu-container
      .header__principal-logo
        a(href='/')
          img.logo-pagina-image(src='http://localhost:3000/img/images_pagina/logo-pagina.png')
      .header__carrito
        a(href='/carrito' target='_blank')
          img.carrito-image(src='http://localhost:3000/img/images_pagina/logo-carrito-1.png')
          span.numero-items
      .header__session
        if user 
          a.header__session-link(href='#') #{user.name}
          p |
          a.header__session-link(href='/login/cerrarSesion') Cerrar Sesi&oacute;n
        else 
          a.header__session-link(href='/login/iniciarSesion' target='_blank') Iniciar Sesi&oacute;n
          p |
          a.header__session-link(href='/login' target='_blank') Registrarse
  main.main
    .main__container
        if juegoSeleccionado
            .ficha-info-modal
                  .image-producto-modal
                    img.image-juego-modal(src=juegoSeleccionado.portada)
                  .informacion-modal
                    .titulo-producto-modal
                      h2= juegoSeleccionado.nombre
                    .raya-acerca-de
                    .plataforma-modal
                      strong= juegoSeleccionado.plataforma.nombre
                    .precio-modal
                      p
                        | $ 
                        strong= juegoSeleccionado.precio
                    .raya-acerca-de
                    .descripcion-titulo-modal
                      h2 Acerca de . . .
                    .raya-acerca-de
                    .descipcion-modal
                      p= juegoSeleccionado.descripcion
                    .raya-acerca-de
                    .titulo-trailer
                      h2 Tr&aacute;iler
                    .trailer-modal
                      iframe(width='560' height='315' src=juegoSeleccionado.trailer title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen='')            
  footer.footer
    .footer__container
script(src='/js/scripts.js')
